/*html body*/

body {
    width: 100%;
    height:100%;
    background-image: url('../Images/masterpageimage/Assassins-Creed-3.jpg');
   
    
}

/*Masterpage css*/

#logo img {
    float: left;
   padding-top: 60px;
    padding-left:10px;
    width:200px;
    height:100px;
    
    
}
#imageheader img {
    width: 100%;
    padding-top: 10px;
    
}


#Wrapper{
    margin-left: 10%;
	margin-right: 10%;
	height:auto;
    background-color:white;
   
}



#headernav ul li{
    display: none;
    list-style: none;
    float: right;
    display:block;
    margin-top:15px;
    text-transform:uppercase;
    padding: 0px 20px 0px 20px;
    border-left: 1px solid black;
    
}

#headernav{
    background-color:black;
    border-bottom:3px #FA3804 solid;
    height:50px;
    color:white;
}

#headernav a:link{
    
    color:white;
    text-decoration: none;

}

#headernav a:hover{
    color:aquamarine;
}

#headernav li a:visited{
    background-color:orangered;
    color:white;
 
   
}

#socialmedia img{
    height:30px;
    width:30px;
}

#socialmedia ul li{
    float: left;
    display:block;
    padding-right:5px;
    padding-left:5px;
}


#Navigation1 ul li{
 
    list-style: none;
    float:right;
    display:block;
    text-transform:uppercase;
    padding: 0px 20px 0px 20px;
    border-left: 1px solid black;
    margin-top:15px;
    margin-bottom:50px;
    font-size:20px;
}

#Navigation1{
    padding-right: 360px;
}

#Navigation1 a:link , #Navigation1 a :visited, #Navigation1 a :active{
    display: block;
    color:black;
    text-decoration: none;
}

#content{

}

#Footer{
background-color:black;
height:200px;
position: relative;
bottom:0;
clear:both;
padding:initial;
border-top:3px #FA3804 solid;
width:100%;
text-align:center;
color:white;
text-decoration:none;
margin-top:50px;

}

#Footer h2{
    font-family:'Bernard MT';
    color:white;
}

/* index page start*/

#label1 p{
    font-family:'Bernard MT';
    font-size:25px;
    border-bottom-color:black;
    border-bottom:solid;
    margin-right:800px;
    margin-left:20px;
    
}

#label2 p{
    font-family:'Bernard MT';
    font-size:25px;
    border-bottom-color:black;
    border-bottom:solid;
    margin-right:800px;
    margin-left:20px;
    
}



 
/*image hover start*/
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 10;
}

.text {
  color: white;
  font-size: 16px;
  position:inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
 /*image1 end*/

 /*image hover end*/

 /*table 1*/
 #table tr td{ 
     padding-left:20px;
 }
 
 #table img{
     width:200px;
     height:250px;
     padding-left:10px;
 }



 #table{
   border-width:100px;
 }

 /*table 1 end*/

 /*table2*/
 #table2 tr td{ 
     padding-left:60px;
 }
 
 #table2 img{
     width:200px;
     height:250px;
     padding-left:10px;
 }



 #table2{
     border:none;
 }

 /*table2 end*/

 .cartbtn 
 {
background: linear-gradient(to bottom, black, lightblue);
    padding: 4px;
    margin: 5px;
    color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    clear: both;
    width: 150px;
 }

 .ps3 li{

    list-style:none;
    border-left: 1px solid black;

 }

 .ps3 img{
     width:200px;
     height:300px;
 }

/* index page end*/

/*contact page start*/

#location {
    padding-top:80px;
   
}

#location h2{
    margin-left:20px;
     border-bottom:solid;
	border-bottom-color:black;
	margin-right:600px;
}

#location p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:15px;
	font-weight:100;
	color:black;	
    margin-left:20px;
}

#location img{
    height:50px;
    width:50px
}


#call {
    padding-top:80px;
   
}

#call h2{
    margin-left:20px;
     border-bottom:solid;
	border-bottom-color:black;
	margin-right:600px;
}

#call p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:15px;
	font-weight:100;
	color:black;	
    margin-left:20px;
}

#call img{
    height:50px;
    width:50px
}


#Feedback {
    padding-top:80px;
   
}

#Feedback h2{
    margin-left:20px;
     border-bottom:solid;
	border-bottom-color:black;
	margin-right:600px;
}

#Feedback p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:15px;
	font-weight:100;
	color:black;	
    margin-left:20px;
}

#Feedback img{
    height:50px;
    width:50px
}

#table {
    border-style: solid;
    border-width: 3px;
   
    color: dimgrey;
    margin-right:350px;
    margin-left:20px;
    padding-left:10px;
    
}

/* MAP*/



#map img {
  
    float:right;
    width:400px;
    height:300px;
    padding-right:100px;
    padding-top:100px;
}

#googleMap {
    width:100%;
    height:auto;
}
      
      

/*contact page end*/

 /*Login part start*/
     #Login{
         float: left;
         border:1px solid;
         border-color: orangered;
          margin-left: 30px;
          margin-top:30px;
     }

    #Login header{
    
	border-bottom-color:black;
    border-bottom: 1px solid;
    margin-right:50px;
    padding-top:10px;
    
   
    }

 /*Login part end*/  


 /*Register part start*/
     #Register{
         float: right;
         border:1px solid;
         border-color: orangered;
         margin-right:40px;
          margin-top:30px;

     }

     .Register{
        margin-left:-40px;
    }

     
    #Register header{
     
	border-bottom-color:black;
    border-bottom: 1px solid;
    margin-right:50px;
    
    }
 /*Register part end*/  

 #header h2{
     margin-left: 450px;   
     font-family:'Times New Roman';
     font-size: 32px;
     color:black;
 }

 /*staffmanagement part start*/

 #addgame table {

    width:100%;
    font-size:.8em;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border: 3px solid orangered;
   
}

 #addgame table th {
    font-size:1.2em;
    text-shadow:20px 10px 12px black;
}

#addgame table input[type="text"],#register table input[type="email"],#register table input[type="password"],#register table select {

    padding:5px;
    width:180px;
    border-left:1px inset #808080;
    border-bottom:1px inset #808080;
    font-size:1em;
    font-style:italic;
    color:white;
    background-color:#0a0b1d;

}

#addgame table input[type="submit"],#register table input[type="reset"]{

    padding:5px 10px 5px 10px;
    color:white;
    background-color:black;
    border-radius:10px;
}



/* Map css 

#gmap_canvas.img {
    max-width: none !important;
    background: none !important;
}

#gmap_canvas {
    overflow: hidden;
    height: 400px;
    width: 520px;

}

    */

/*usermember*/
.detailsImage {
    height: 350px;
    width: 350px;
    margin-right: 20px;
}

.detailsDescription {
    font-style: italic;
    width: 600px;
}

.detailsPrice {
    font-weight: bold;
    font-size: 24px;
}
